div.frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  background-color: black;
}

div.frame div.image {
  position: absolute;
  top:11.0497237569%;
  left:11.5234375%;
  height: 70.1657458564%;
  width: 62.6953125%;
  background-color: black;
  overflow: hidden;
}
div.frame div.image img {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow: hidden;
}
body.large div.frame {
  background-image: url("background.jpg");
}
body.med div.frame {
  background-image: url("background-med.jpg");
}
body.small div.frame {
  background-image: url("background-small.jpg");
}
body.xsmall div.frame {
  background-image: url("background-xsmall.jpg");
}

div.frame div.blurb {
  position: absolute;
  padding:4px;
  background-color: white;
  left:81.640625%;
  top:53.591160%;
  width:15.625%;
  height:35.9116022099%;
  overflow: hidden;
  border:1px solid black;
}
